*{
    background-color: black;
}    
span{
    color: white;
    
    font-size: 100px;   
}
.box{
    position: absolute;
    top:50%;
    right:50%;
    transform: translate(50%,-50%);
    white-space: nowrap;
}